<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Height:</strong>
    <%= user.height %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= user.weight %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pas:</strong>
    <%= user.pas %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pad:</strong>
    <%= user.pad %>
  </p>
</div>
